* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    z-index: -1;
}

.desistir {
    all: unset;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(240, 240, 240);
    background-color: rgb(163, 0, 0);
}

#eu {
    position: absolute;
    bottom: 200px;
    z-index: -1;
    left: 150px;
}

.cartase {
    position: absolute;
    width: 450px;
    height: 150px;
    left: 350px;
    bottom: 100px;
    display: flex;
    border-radius: 25px;
    z-index: -1;
    background-color: rgb(68, 68, 68);
}

.slot {
    background-color: rgb(94, 94, 94);
    margin: 5px;
    width: 25%;
    cursor: pointer;
    border-radius: 20px;
}

#inimigo {
    position: absolute;
    right: 150px;
    z-index: -1;
    top: 135px;
}

p {
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: default;
}

img {
    width: 100px;
    height: 100px;
}

.cartasi {
    position: absolute;
    width: 450px;
    z-index: -1;
    height: 150px;
    right: 350px;
    top: 80px;
    display: flex;
    border-radius: 25px;
    background-color: rgb(68, 68, 68);
}

.vitoria {
    padding: calc(150px - 50px);
    width: 90%;
    margin: auto;
    margin-top: calc(50dvh - 150px);
    z-index: 1;
    border-radius: 20px;
    background-color: rgba(0, 102, 255, 0.98);
    height: 300px;
}

.derrota {
    padding: calc(150px - 50px);
    width: 90%;
    margin: auto;
    margin-top: calc(50dvh - 150px);
    z-index: 1;
    border-radius: 20px;
    background-color: rgba(255, 30, 30, 0.98);
    height: 300px;
}

h1 {
    margin: 0 calc(50% - 110px);
    color: rgb(255, 251, 0);
    letter-spacing: 2px;
    font-size: 60px;
}

#sair {
    all: unset;
    background-color: rgb(127, 193, 255);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 100%;
}

#sair:hover {
    background-color: rgb(113, 174, 231);
}